src/main/resources/wsdl/LoanSubmissionGetDropdownList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://submission.loan.ws.sml.integrosys.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://submission.loan.ws.sml.integrosys.com" xmlns:intf="http://submission.loan.ws.sml.integrosys.com" xmlns:tns1="http://request.dropdown.ws.sml.integrosys.com" xmlns:tns2="http://common.ws.sml.integrosys.com" xmlns:tns3="http://response.dropdown.ws.sml.integrosys.com" xmlns:tns4="http://dropdown.ob.common.sml.integrosys.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://submission.loan.ws.sml.integrosys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://response.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://common.ws.sml.integrosys.com"/>
   <import namespace="http://dropdown.ob.common.sml.integrosys.com"/>
   <element name="getDropDownListByCode">
    <complexType>
     <sequence>
      <element name="req" type="tns1:RequestDropdown"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDropDownListByCodeResponse">
    <complexType>
     <sequence>
      <element name="getDropDownListByCodeReturn" type="tns3:ResponseDropdown"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns4_CommonCodeEntry">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:CommonCodeEntry"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://request.dropdown.ws.sml.integrosys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://response.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://common.ws.sml.integrosys.com"/>
   <import namespace="http://submission.loan.ws.sml.integrosys.com"/>
   <import namespace="http://dropdown.ob.common.sml.integrosys.com"/>
   <complexType name="Body">
    <sequence>
     <element name="categoryCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Header">
    <complexContent>
     <extension base="tns2:CommonWSRequestHeader">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RequestDropdown">
    <sequence>
     <element name="body" nillable="true" type="tns1:Body"/>
     <element name="header" nillable="true" type="tns1:Header"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.ws.sml.integrosys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://response.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://submission.loan.ws.sml.integrosys.com"/>
   <import namespace="http://dropdown.ob.common.sml.integrosys.com"/>
   <complexType name="CommonWSRequestHeader">
    <sequence>
     <element name="channel" nillable="true" type="xsd:string"/>
     <element name="module" nillable="true" type="xsd:string"/>
     <element name="requestID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CommonWSResponseHeader">
    <sequence>
     <element name="channel" nillable="true" type="xsd:string"/>
     <element name="module" nillable="true" type="xsd:string"/>
     <element name="requestID" nillable="true" type="xsd:string"/>
     <element name="responseCode" nillable="true" type="xsd:string"/>
     <element name="responseDescriptionEN" nillable="true" type="xsd:string"/>
     <element name="responseDescriptionTH" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dropdown.ob.common.sml.integrosys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://response.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://common.ws.sml.integrosys.com"/>
   <import namespace="http://submission.loan.ws.sml.integrosys.com"/>
   <complexType name="CommonCodeEntry">
    <sequence>
     <element name="activeStatus" nillable="true" type="xsd:string"/>
     <element name="categoryCode" nillable="true" type="xsd:string"/>
     <element name="entryCode" nillable="true" type="xsd:string"/>
     <element name="entryID" nillable="true" type="xsd:decimal"/>
     <element name="entryName" nillable="true" type="xsd:string"/>
     <element name="entryName2" nillable="true" type="xsd:string"/>
     <element name="entrySource" nillable="true" type="xsd:string"/>
     <element name="extValue1" nillable="true" type="xsd:string"/>
     <element name="extValue2" nillable="true" type="xsd:string"/>
     <element name="groupId" nillable="true" type="xsd:string"/>
     <element name="refEntryCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://response.dropdown.ws.sml.integrosys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://request.dropdown.ws.sml.integrosys.com"/>
   <import namespace="http://common.ws.sml.integrosys.com"/>
   <import namespace="http://submission.loan.ws.sml.integrosys.com"/>
   <import namespace="http://dropdown.ob.common.sml.integrosys.com"/>
   <complexType name="Body">
    <sequence>
     <element name="commonCodeEntries" nillable="true" type="impl:ArrayOf_tns4_CommonCodeEntry"/>
    </sequence>
   </complexType>
   <complexType name="Header">
    <complexContent>
     <extension base="tns2:CommonWSResponseHeader">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ResponseDropdown">
    <sequence>
     <element name="body" nillable="true" type="tns3:Body"/>
     <element name="header" nillable="true" type="tns3:Header"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDropDownListByCodeRequest">

      <wsdl:part element="impl:getDropDownListByCode" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDropDownListByCodeResponse">

      <wsdl:part element="impl:getDropDownListByCodeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoanSubmissionGetDropdownList">

      <wsdl:operation name="getDropDownListByCode">

         <wsdl:input message="impl:getDropDownListByCodeRequest" name="getDropDownListByCodeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDropDownListByCodeResponse" name="getDropDownListByCodeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoanSubmissionGetDropdownListSoapBinding" type="impl:LoanSubmissionGetDropdownList">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDropDownListByCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDropDownListByCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDropDownListByCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoanSubmissionGetDropdownListService">

      <wsdl:port binding="impl:LoanSubmissionGetDropdownListSoapBinding" name="LoanSubmissionGetDropdownList">

         <wsdlsoap:address location="http://10.209.27.99:9080/LoanSubmissionWS/services/LoanSubmissionGetDropdownList"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
